body {
    color: #333333;
    background-color: #f3f3f3;
    text-align: center;
}

.text-center {
	text-align: center;
	color: #42803c;
}

.input-form {
	text-align: center;
	color: #42803c;
}

#mainPopup {

    padding: 5px 5px 5px 5px;
    min-height: 350px;
    min-width: 400px;
    overflow:auto;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    display: inline-block;
}

.container {
	width: 1024px;
    margin: 0 auto;
}


h3 {
    font-size: 2em;
    margin-top:20px;
}

.list {
	text-align: left;
	margin: 0 auto;
}

#mainPopup .list {
}
.unstyled {
	margin:0;
	padding:0;
	overflow:auto;
}

.unstyled li {
    list-style: none;
    margin:5px 10px;
    padding:5px 30px 5px 25px;
    position:relative;
    overflow:hidden;
    text-overflow:ellipsis;
	white-space:nowrap;

}
.unstyled li:hover {
	background-color: #ddd;
	border-radius: 2px;
}

.unstyled li input {
	position:absolute;
	margin:0;
	padding:0;
	left:5px;
	top:6px;
}

.unstyled li span {
	text-overflow:ellipsis;
	overflow:hidden
	white-space:nowrap;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

i.icon-trash {
	font-weight: normal;
	font-style: normal;
	cursor: pointer;
	color: orangered;
	position: absolute;
	right:5px;
	top:5px;
	width:15px;
	text-align: right;
	display: block;
}

.input-text {
	height: 18px;
	line-height:18px;
	width: 278px;
	padding: 5px 10px;
	border-radius: 2px 0 0 2px;
	border:1px solid #3B99FC;
	outline:0 none;
}

.input-button {
	border: none;
	height: 30px;
	width: 100px;
	border-radius:0 2px 2px 0;
	text-transform: uppercase;
	background-color: #3B99FC;
	color: white;
	padding: 5px 10px;
}

.upload-text {
	height: 18px;
	line-height:18px;
	width: 278px;
	padding: 5px 10px;
	border-radius: 2px 0 0 2px;
	border:1px solid #1bba12;
	background-color: #cccccc;
	outline:0 none;
}

.upload-button {
	border: none;
	height: 30px;
	width: 95px;
	border-radius:0 2px 2px 0;
	text-transform: uppercase;
	background-color: #1bba12;
	color: white;
	padding: 5px 10px;
}

#mainPopup .toggle label{
	position: relative;
	margin-left: 0;
}



label.switch-light {
	width: 200px;
}
