<!doctype html>
<html ng-app="BlockAidApp" ng-app ng-csp>
<head>
    <script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/angular/angular.js"></script>
    <script type="text/javascript" src="../config/config.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/toggle-switch.css">
    <style>

    </style>
</head>
<body>
<div id="mainPopup">

    <div ng-controller="BlockAidController">
        <h3 class="text-center" ng-click="openWebSite()" type="button" value="BlockAid"/>BlockAid</h3>
        <div class="toggle">
            <label class="switch-light switch-ios">
                <input type="checkbox" ng-click="toggleStatus()" ng-true-value="true" ng-false-value="false" ng-model="status">
                <span>
                    STATUS
                    <span>OFF</span>
                    <span>ON</span>
                </span><a></a></label>
        </div>
        <br/>

        <div class="toggle">
            <label class="switch-light switch-ios">
                <input type="checkbox" ng-click="toggleMode()" ng-true-value="true" ng-false-value="false" ng-model="mode">
                <span>
                    MODE
                    <span>MANUAL</span>
                    <span>AUTO</span>
                </span><a></a></label>
        </div>
        <br/>

        <form ng-style="inputFormToggle" ng-submit="pushToBlockList()" class="input-form">
            <input class="input-text" type="text" ng-model="blockItem" size="30"
                   placeholder="Add domains to block"/><input class="input-button" type="submit" value="save"/>

        </form>

        <div class="list">
            <ul class="unstyled">
                <li ng-repeat="item in blockList track by $index">
                    <input ng-disabled="checked" type="checkbox" ng-change="saveItem($index)" ng-model="item.enabled">
                    <span class="done-{{!item.enabled}}" title="{{item.domain}}">{{item.domain}}</span>
                    <i ng-click="deleteItem($index)" class="icon-trash">X</i>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>