<!doctype html>
<html ng-app="BlockAidApp" ng-app ng-csp>
<head>
    <script src="../../lib/jquery/jquery.min.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/FileSaver.js"></script>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/toggle-switch.css">
    <style>

    </style>
</head>
<body>
<div id="mainPopup">

    <div ng-controller="BlockAidController">
        <h3 class="text-center" ng-click="openWebSite()" ng-disabled="isDisabled" ng-model="isDisabled" type="button" value="BlockAid"/>BlockAid</h3>
        <div class="toggle">
            <label class="switch-light switch-ios">
                <input type="checkbox" ng-click="toggleStatus()" ng-true-value="true" ng-false-value="false" ng-model="status">
                <span>
                    STATUS
                    <span>OFF</span>
                    <span>ON</span>
                </span><a></a></label>
        </div>
        <br/>

        <div class="toggle">
            <label class="switch-light switch-ios">
                <input type="checkbox" ng-click="toggleMode()" ng-true-value="true" ng-false-value="false" ng-model="mode">
                <span>
                    MODE
                    <span>MANUAL</span>
                    <span>AUTO</span>
                </span><a></a></label>
        </div>
        <br/>

        <form class="text-center">
            <input class="upload-button" ng-click="upload()" ng-disabled="isDisabled" ng-model="isDisabled"
                   type="button" value="Upload"/>
            <input class="upload-text" name='upload_url' ng-disabled="disableText" ng-model="upload_url" type="text"/>
        </form>
        <form ng-submit="pushToBlockList()" class="text-center">
            <input class="input-text" type="text" ng-model="blockItem" size="30"
                   placeholder="Add domains to block"/><input class="input-button" type="submit" value="save"/>

        </form>

        <div class="list">
            <ul class="unstyled">
                <li ng-repeat="item in blockList track by $index">
                    <input type="checkbox" ng-change="saveItem($index)" ng-model="item.done">
                    <span class="done-{{!item.done}}" title="{{item.text}}">{{item.text}}</span>
                    <i ng-click="deleteItem($index)" class="icon-trash">X</i>
                </li>
            </ul>
        </div>
        <input ng-click="download()" ng-disabled="isDisabled" ng-model="isDisabled" type="button" value="Download List"/>
    </div>
</div>
</body>
</html>