<!doctype html>
<html ng-app="todoApp" ng-app ng-csp>
<head>
    <script src="../../js/jquery/jquery.min.js"></script>
    <script src="../../js/angular/angular.js"></script>
    <link rel="stylesheet" href="browser_action.css">
    <script src="browser_action.js"></script>
</head>
<body>
<div id="mainPopup">

    <h3 class="text-center">Domain Block List</h3>

    <div ng-controller="TodoController">
        <ul class="unstyled">
            <li ng-repeat="todo in todos track by $index">
                <input type="checkbox" ng-change="saveItem($index)" ng-model="todo.done">
                <span class="done-{{!todo.done}}">{{todo.text}}</span>
                <i ng-click="deleteItem($index)" class="icon-trash">X</i>
            </li>
        </ul>
        <form ng-submit="addTodo()" class="text-center">
            <input class="input-text" type="text" ng-model="todoText" size="30"
                   placeholder="Add domains to block"/>
            <input class="input-button" type="submit" value="save"/>
        </form>
    </div>
</div>
</body>
</html>