<!doctype html>
<html ng-app="BlockAidApp" ng-app ng-csp>
<head>
    <script src="../../lib/jquery/jquery.min.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script src="../js/app.js"></script>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/toggle-switch.css">
    <style>

    </style>
</head>
<body>
<div>
    <div ng-controller="BlockAidController">
        <div class="toggle">
            <label class="switch-light switch-ios">
                <input type="checkbox" ng-click="toggleStatus()" ng-true-value="true" ng-false-value="false" ng-model="status">
                <span>
                    STATUS
                    <span>OFF</span>
                    <span>ON</span>
                </span><a></a></label>
        </div>
        <br/>

        <div class="toggle">
            <label class="switch-light switch-ios">
                <input type="checkbox" ng-click="toggleMode()" ng-true-value="true" ng-false-value="false" ng-model="mode">
                <span>
                    MODE
                    <span>MANUAL</span>
                    <span>AUTO</span>
                </span><a></a></label>
        </div>
        <br/>

        <input class="upload-button" ng-click="openSettings()" ng-disabled="isDisabled" ng-model="isDisabled" type="button" value="Options"/>
    </div>
</div>
</body>
</html>